:root {
	--theme: #03a9f4;
	--radius: 8px;
	--radius-small: 4px;
}

body * {
	color: #444;
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
	line-height: 125%;
}

button {
	background: var(--theme);
	border: none;
	font-size: 1.25rem;
}

button:hover {
	cursor: pointer;
}
